@font-face {
  font-family: "League Gothic";
  src: url(LeagueGothic-Regular.otf);
}
@font-face {
  font-family: "Hefty Regular";
  src: url("Hefty Regular.otf");
}

#lab_header .logo {
    background: url(icons/lab_icon.svg);
    width: 50px;
    height: 50px;
    position: relative;
    top: -4px;
}
#lab_header {
    font-family: "Hefty Regular";
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 6px;
    margin-left: 22px;
    margin-right: 22px;
}
a:hover #lab_header {
    background: rgba(255,255,255,0.05);
}
#lab_header > * {
    display: inline-block;
    vertical-align: middle;
}
#lab_header > img {
    position: relative;
    top: -4px;
    right: 4px;
}
#lab_header > i {
    position: relative;
    top: -4px;
    opacity: 0.2;
    
    transform: translate(-4px,0);
    -webkit-transform: translate(-4px,0);
    -moz-transform: translate(-4px,0);
    -ms-transform: translate(-4px,0);
    -ms-transform: translate(-4px,0);
    
    transition: ease 800ms transform;
    -webkit-transition: ease 800ms -webkit-transform;
    -moz-transition: ease 800ms -moz-transform;
    -ms-transition: ease 800ms -ms-transform;
    -o-transition: ease 800ms -o-transform;
}
a:hover #lab_header > i {
    opacity: 1;
    
    transform: translate(18px,0);
    -webkit-transform: translate(18px,0);
    -moz-transform: translate(18px,0);
    -ms-transform: translate(18px,0);
    -ms-transform: translate(18px,0);
}
.big_avatar {
    width: 32px;
    height: 32px;
}
.user_filter {
    text-align: center;
    margin-bottom: 24px;
}
.user_filter > * {
    vertical-align: middle;
}
.user_filter > img {
    margin-right: 4px;
}