@font-face {
  font-family: "League Gothic";
  src: url(LeagueGothic-Regular.otf);
}
@font-face {
  font-family: "Hefty Regular";
  src: url("Hefty Regular.otf");
}

html, body {
    padding: 0;
    margin: 0;
    
    background: #586371;
    color: #dfd7c4;
    font-family: sans-serif;
}

body {
    overflow-y: scroll;
    
    /* enable flexible box layout */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    -ms-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;
}

#lab {
    background: #393d48;
    
    width: 270px;
    min-height: 100%;
}

.gist {
    margin: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
.thumbnail {
    width: 230px;
    height: 80px;
    position: relative;
    opacity: 0.8;
    border: 1px solid #dfd7c4;
    
    background-position: 0% 0%;
    transition: ease 2000ms background-position;
    -webkit-transition: ease 2000ms background-position;
    -moz-transition: ease 2000ms background-position;
    -ms-transition: ease 2000ms background-position;
    -o-transition: ease 2000ms background-position;
}
a:focus .thumbnail,
a:hover .thumbnail {
    opacity: 1;
    background-position: 0% 100%;
    transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
}
.avatar {
    width: 22px;
    height: 22px;
    position: absolute;
    right: -6px;
    bottom: -6px;
    border: 1px solid #393d48;
}
.description {
    width: 230px;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 24px;
    margin-top: 8px;
    text-align: center;
}

a {
    color: orange;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#lab a {
    color: inherit;
}
#lab a:hover {
    text-decoration: none;
}

/* home page */
#main {
    margin-left: auto;
    margin-right: auto;
}
.entry .cover {
    width: 620px;
    height: 220px;
    opacity: 0.8;
}
.entry:hover .cover {
    opacity: 1;
}

.entry {
    width: 620px;
    background: #393d48;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5em;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
}
.entry .header {
    height: 30px;
}
.entry h2 {
    font-family: "League Gothic";
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    position: relative;
    left: 14px;
    top: -31px;
}
.entry h3 {
    margin: 0;
    float: right;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: -46px;
    right: 8px;
    text-align: right;
}
.entry .caption {
    padding: 6px;
    margin-left: 11px;
    margin-top: 4px;
}